body {
    margin: 0;
    height: 100vh;
    background-image:url("../assets/background.jpg");
    background-size: cover;
}

h1 {
    color: whitesmoke;
}

button {
    background-color: rgba(6,16,51,255);  /* For browsers that do not support gradients */
    background-image: linear-gradient(to right,rgba(6,16,51,255), rgba(6,14,46,255),rgba(6,9,21,255));
    border-radius: 25px;
    color: azure;
    border-color:whitesmoke;
    font-size: 14px;
}

#scoreBox {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: white;
}
#gameOverScreen {
    color: whitesmoke;
}

#asteroid-game-canvas {
    display: block
}

#inputContainer {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    
}

#typeInput {
    width: 200px;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
}

#pauseBtn, #startBtn, #scoresBtn, #mulliganBtn {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

footer {
    color: azure;
    position: absolute;
}